<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragonite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragonite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{50,53}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragonite.png</string>
            <key>size</key>
            <string>{100,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb6e067f6abcea080b4f81d130ad263:e62ca1e7dce3070b373fe198878e92a2:3a1dd61a4d7cbb914f7799972d705f29$</string>
            <key>textureFileName</key>
            <string>dragonite.png</string>
        </dict>
    </dict>
</plist>
