<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>noctowl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noctowl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{0,65},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>noctowl.png</string>
            <key>size</key>
            <string>{64,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59d6e90f52a5477d8cad0951252f4afd:dc247bc24f30e5a1f909d0c64e4ae860:cf6948db41060541a913d14b6c7a9367$</string>
            <key>textureFileName</key>
            <string>noctowl.png</string>
        </dict>
    </dict>
</plist>
