<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokeball0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokeball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{120,0},{120,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pokeball.png</string>
            <key>size</key>
            <string>{240,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bacb42149753ee2d0cb7c8c0c7262e28:fd6a0802b85710a74255b059faaa4c90:3173e755650cc48830d5311d1f5e5dc1$</string>
            <key>textureFileName</key>
            <string>pokeball.png</string>
        </dict>
    </dict>
</plist>
