<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trainer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{35,0},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trainer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{70,0},{35,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trainer.png</string>
            <key>size</key>
            <string>{105,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2391a767e79d71c21103fa4e7a55e1d4:cbfe24f33e59f2ac7d436565775515b7:f62c44879277bc00e7381176c0e971e1$</string>
            <key>textureFileName</key>
            <string>trainer.png</string>
        </dict>
    </dict>
</plist>
