<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lugia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,70}</string>
                <key>spriteSourceSize</key>
                <string>{63,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lugia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,67}</string>
                <key>spriteSourceSize</key>
                <string>{65,67}</string>
                <key>textureRect</key>
                <string>{{63,0},{65,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lugia3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{128,0},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lugia.png</string>
            <key>size</key>
            <string>{191,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26793353bed4432b1b5d78f455c2229f:513f3f07812a34e3a4c762b3a96d488e:9a4b67e0f7bad495daba2e7ba1b99edd$</string>
            <key>textureFileName</key>
            <string>lugia.png</string>
        </dict>
    </dict>
</plist>
