<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pidgeotto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pidgeotto2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{0,66},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pidgeotto.png</string>
            <key>size</key>
            <string>{60,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b753b2c8bda842616bd9f0451c31b85:5b215422438415d93671a78191f82cf2:3f55777dd206ea8383b1e18a858f8bb8$</string>
            <key>textureFileName</key>
            <string>pidgeotto.png</string>
        </dict>
    </dict>
</plist>
