<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arcanine1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arcanine2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>arcanine.png</string>
            <key>size</key>
            <string>{120,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5560ea4576549790fc5cb42fdbd24ec6:f0aada756c0f43af4a7f314fe2ef9be8:e83745857bbae09d3e7744d28cc4d28d$</string>
            <key>textureFileName</key>
            <string>arcanine.png</string>
        </dict>
    </dict>
</plist>
