<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>articuno1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>articuno2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,63}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>articuno.png</string>
            <key>size</key>
            <string>{100,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f36fc32ad19225f9257237bb2e8345fe:92d7bab76b8326a4358320499621f096:2d2f63534d035b9da2bcada390f4a4ae$</string>
            <key>textureFileName</key>
            <string>articuno.png</string>
        </dict>
    </dict>
</plist>
